*{
    transition: 0.5s;
}
.form-container3{
    text-align: center;
    margin-top: 20%;
}
.form-container3 h1{
    font-size: 5vh;
    font-weight: lighter;
}
.form-container3 input{
    margin: 8%;
    width: 40vw;
}


.form-container3 input[type = submit]{
    border: none;
    box-shadow: 3px 3px 8px rgb(128, 128, 128);
    height: 5vh;
    border-radius: 20px;
}
.form-container3 input[type = submit]:hover{
    background-color: rgb(99, 99, 99);
    color: #ffffff;
    box-shadow: none;
}
button{
    position: absolute;
    margin-left: 5%;
    margin-top: 5%;
    width: 8vw;
    height: 6vh;
    background-color: #00000000;
    border: none;
    cursor: pointer;
}
button a{
    text-decoration: none;
    font-size: 4vh;
    color: white;
}